venv/
DevOps/GithubActionsLearnings-CICD/
Python/Basic_python_learnings/
DevOps/automate_docker_using_cicd/app.py/
DevOps/script_project_using_aws_s3/mysql_backup.sh/
DevOps/terraform-aws-webapp-project/.terraform.lock.hcl/
DevOps/terraform-aws-webapp-project/main.tf/
DevOps/terraform-aws-webapp-project/outputs.tf/
DevOps/terraform-aws-webapp-project/terraform.tfstate/
DevOps/terraform-aws-webapp-project/terraform.tfstate.backup/
Python/PDBC/.ipynb_checkpoints/mysql-checkpoint.ipynb/
Python/PDBC/mysql.ipynb/
Python/PDBC_with_flask/flask-deployment.yaml/
Python/TransitionUsingCsvFIles/.ipynb_checkpoints/project1-checkpoint.ipynb/
Python/TransitionUsingCsvFIles/Diwali_Sales_Analysis.ipynb/
Python/TransitionUsingCsvFIles/project1.ipynb/




